body {
  margin: 0;
  font-family: Arial;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.container {
  background: white;
  padding: 25px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

button {
  padding: 8px;
  width: 100%;
  margin-top: 10px;
}

.password-box {
  display: flex;
}

.password-box button {
  width: 70px;
}

#error {
  color: white;
  background: red;
  padding: 5px;
}

#success {
  color: white;
  background: green;
  padding: 5px;
}
